@charset "UTF-8";

section {
  /* 表示領域高さいっぱいに背景画像を表示する */
  height: 100vs;
  /* 画像の縦横比を保持し、表示領域を埋めつくすように背景画像を表示 */
  background-size: cover;
  background-repeat: no-repeat;
  /* 背景画像の表示位置を真ん中にし、画像の中央部分を基準に伸縮するように設定 */
  background-position: center;
}

.hero {
  background-image: url(./../images/bread1.jpg);
  text-align: center;
  padding-top: 10vh;;
}
